---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
    <main class="main">
        <div class="error-wrapper">
            <img src="/favicon.svg" alt="">
        </div>
        <p>404 - Not Found</p>
    </main>
</Layout>

<style>
    .error-wrapper {
        display: flex;
    }
    .error-wrapper > img {
        margin-top: 100px;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .main > p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
    }
</style>