---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <main>
        <p class="about-text">
            Hi, I'm Abdurakhman Abduazimov. Studying on Najot Ta'lim.

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis odio unde eius dolore commodi perspiciatis, sed officiis, voluptatem incidunt voluptate similique! Consectetur qui repellendus est, ad exercitationem quos eaque eius esse, illo provident fugiat veniam dignissimos aut repellat perspiciatis cum inventore, voluptates accusamus vel! Ratione libero repellat nisi quasi non. Aliquid veniam et recusandae nisi aspernatur minima officiis repellat! Laborum, sint sapiente nisi consectetur, adipisci quis velit aliquam dolorem maiores itaque nostrum possimus! Quibusdam explicabo atque voluptatem consectetur doloremque soluta libero voluptate, tempora natus dignissimos exercitationem fugit saepe facilis ea ullam vel, possimus voluptas accusamus quidem dolores aliquid. Ipsam, dicta.            
        </p>

        <ul class="links-about grid">
            <li class="linkss"><a href="#">Matrix</a></li>
            <li class="linkss"><a href="#">Telegram</a></li>
            <li class="linkss"><a href="#">Instagram</a></li>
            <li class="linkss"><a href="#">GitHub</a></li>
        </ul>
        <p class="builted">This site builted with Astro</p>
    </main>
</Layout>

<style>

    main {
		margin: auto;
		max-width: 700px;
        min-width: 300px;
	}

    .about-text {
        max-width: 700px;
        min-width: 300px;
        margin-top: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        font-family: 'monospace';
        font-size: 22px;
    }

    .builted {
        min-width: 300px;
        margin-top: 130px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: 'monospace';
        font-size: 22px;
        color: #c6c6c6;
    }

    li {
        padding: 10px;
        text-align: center;
        border-radius: 10px;
    }

    .links-about {
        max-width: 60ch;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
	}

    .linkss {
        background-color: white;
		background-image: var(--accent-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .linkss:is(:hover, :focus-within) {
		background-position: 0;
	}
	.linkss:is(:hover, :focus-within) {
		background-color: rgb(var(--accent));
        color: #fff;
	}
    .linkss:is(:hover, :focus-within) a {
        color: #fff;
	}
</style>